<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<connectionStrings>
    <add name="livDB" 

    connectionString="Server=tcp:livserver.database.windows.net,1433;Initial Catalog=LIVDatabase;Persist Security Info=False;User ID=LIV;Password=abcd1234$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>